.eye {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 3px solid black;
	position: relative;
	float: left;
}
.pupil {
	width: 30px;
	height: 30px;
	background: black;
	position: absolute;
	left: 70px;
	bottom: 35px;
	border-radius: 100%;
}
.eye2 {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 3px solid black;
	position: relative;
	float: left;
}
.pupil2 {
	width: 30px;
	height: 30px;
	background: black;
	position: absolute;
	left: 70px;
	bottom: 35px;
	border-radius: 100%;
}
